* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family:
		Arial,
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	font-size: 16px;
	color: #1E170F;
}

a {
	text-decoration: none;
	display: block;
	color: #1E170F;
}

img{
	width: 100%;
	height: auto;
	vertical-align: top;
}

section {
  width: 100%;
  padding: 0;
  margin: 0;
}

footer {
	width: 100%;
	color: #4E4E4E;
	font-size: 14px;
	text-align: center;
	padding: 16px 24px;
}





/*========== Container ==========*/
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

@media (min-width: 1024px)  {
	.container {
		min-width: 960px;
	}
}





/*========== PC & Mobile 顯示設定 ==========*/
.pc {
	display: none;
}

.mobile {
	display: block;
	width: 100%;
	padding: 0;
	margin: auto;
}

@media (min-width: 769px)  {
	.pc {
		display: block;
	}

	.mobile {
		display: none;
	}
}





/*========== 組合圖片 ==========*/
.group_LR {
	display:flex;
	flex-wrap: wrap;
}

.group_LR > img {
	width: 100%;
}

.group_LR a {
	width: 100%;
}

.group_6x1 {
	display: flex;
	flex-wrap: wrap;
}

.group_6x1 a {
	width: 50%;
}

@media (min-width: 769px)  {
	.group_LR > img {
		width: 50%;
	}

	.group_LR a {
		width: 50%;
	}

	.group_6x1 {
		flex-wrap: nowrap;
	}

	.group_6x1 a {
		width: 16.666667%;
	}
}





/*========== 作品列表 ==========*/
.product {
	padding-left: 16px;
  	padding-right: 16px;
}

.product_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}

.product_list_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: calc( 50% - 8px );
	padding: 16px;
	margin-bottom: 32px;
	border-radius: 8px;
}

.product_list_item .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 8px;
}

.product_list_item img {
	width: 100%;
	border-radius: 4px;
}

.product_list_item h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;

	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.product_list_item p {
	color: #4E4E4E;
	
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

@media (min-width: 769px)  {
	.product_list_item {
		width: calc( 33% - 8px );
		margin-bottom: 32px;
	}
}

@media (min-width: 1024px)  {
	.product_list {
		justify-content: space-between;
	}

	.product_list_item {
		width: calc( 16% - 8px );
		margin-bottom: 0;
	}
}





/*========== 投票按鈕 ==========*/
.btn_right {
	display: block;
	width: 48px;
	position: fixed;
	right: 16px;
	bottom: 16px;
	z-index: 8;
	transform-origin: center;
}

.btn_right_list {
	display:flex;
	flex-direction: column;
}

#gotop {
	border: none; 
	outline: none;
	cursor: pointer;  
}

@media (min-width: 1024px)  {
	.btn_right {
		width: 72px;
		right: 2%;
		bottom: 4%;
	}
}

@keyframes vote_ani{
	0%{ transform: scale(1, 1);}
	50%{transform: scale(1.05, 1.05);}
	100%{transform: scale(1, 1);}
}
